flows/Broker_Journey_PL-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Missing_Alert</name>
        <label>Email Missing Alert</label>
        <locationX>1000</locationX>
        <locationY>108</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>new_object.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>BrokerDetails.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailTo</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Mobile_Missing</name>
        <label>Mobile Missing</label>
        <locationX>1007</locationX>
        <locationY>228</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>new_object.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>BrokerDetails.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailTo</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj87f634ea01ca39508a56a73763b901dd_FireJBTrigger</name>
        <label>SalesforceObj87f634ea01ca39508a56a73763b901dd_FireJBTrigger</label>
        <locationX>817</locationX>
        <locationY>344</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Broker__c&quot;,
  &quot;relationshipName&quot;: &quot;Broker__r&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>genesis__Applications__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj87f634ea01ca39508a56a73763b901dd</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7276643</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>2.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Broker__c&quot;,&quot;Decline_Reason__c&quot;,&quot;AccountFullName__c&quot;,&quot;genesis__Status__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Broker__r&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:Broker__r:&quot;,&quot;fields&quot;:[&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;MobilePhone&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;et4ae5__HasOptedOutOfMobile__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Broker_Email_Missing</name>
        <label>Broker Email Missing</label>
        <locationX>728</locationX>
        <locationY>101</locationY>
        <defaultConnector>
            <targetReference>SalesforceObj87f634ea01ca39508a56a73763b901dd_FireJBTrigger</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Broker_Email_Missing_Alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BrokerDetails.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Missing_Alert</targetReference>
            </connector>
            <label>Email Missing Alert</label>
        </rules>
        <rules>
            <name>Mobile_Missing_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BrokerDetails.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mobile_Missing</targetReference>
            </connector>
            <label>Mobile Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj87f634ea01ca39508a56a73763b901dd</name>
        <label>JB_Decision_Null_Check_SalesforceObj87f634ea01ca39508a56a73763b901dd</label>
        <locationX>171</locationX>
        <locationY>346</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Broker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_Decision</name>
        <label>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_Decision</label>
        <locationX>516</locationX>
        <locationY>393</locationY>
        <defaultConnector>
            <targetReference>Broker_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj87f634ea01ca39508a56a73763b901dd</name>
            <conditionLogic>( ( (1 AND 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NEW - ENTERED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AWAITING PERSONAL INFORMATION</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PENDED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AWAITING ASSESSMENT</stringValue>
                </rightValue>
            </conditions>
            <label>SalesforceObj87f634ea01ca39508a56a73763b901dd</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_State_change_Decision</name>
        <label>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_State_change_Decision</label>
        <locationX>91</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj87f634ea01ca39508a56a73763b901dd</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.genesis__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>new_object.genesis__Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj87f634ea01ca39508a56a73763b901dd</label>
        </rules>
    </decisions>
    <interviewLabel>Broker Journey PL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Broker Journey PL</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Broker_Record</name>
        <label>Broker Record</label>
        <locationX>452</locationX>
        <locationY>90</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Broker_Email_Missing</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>new_object.Broker__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>BrokerDetails</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>HasOptedOutOfEmail</queriedFields>
    </recordLookups>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj87f634ea01ca39508a56a73763b901dd</startElementReference>
    <variables>
        <name>BrokerDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>EmailTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>mtelang@pepper.com.au</stringValue>
        </value>
    </variables>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>genesis__Applications__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>genesis__Applications__c</objectType>
    </variables>
</Flow>
