flows/CRM_Mtg_Update_Mortgage_Application_with_Case-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>CRM_Mtg_Check_If_True</name>
        <label>Check If True</label>
        <locationX>47</locationX>
        <locationY>187</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRM_Mtg_Update_Mortgage_Application_With_Case</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <interviewLabel>Update Mortgage Application with Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Mortgage Application with Case</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CRM_Mtg_Find_Case</name>
        <label>Find Case</label>
        <locationX>16</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CRM_Mtg_Check_If_True</targetReference>
        </connector>
        <filters>
            <field>CRM_Closed_Case_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Mtg_Case_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mortgage Broker Scenario</stringValue>
            </value>
        </filters>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseNumber</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>var_CaseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>CRM_Mtg_Update_Mortgage_Application_With_Case</name>
        <label>Update Mortgage Application With Case</label>
        <locationX>128</locationX>
        <locationY>304</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ApplicationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Mtg_Case__c</field>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>CRM_Mortgage_Application_Data__c</object>
    </recordUpdates>
    <startElementReference>CRM_Mtg_Find_Case</startElementReference>
    <variables>
        <name>var_ApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
