flows/Invoke_SyncJob2-11.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>InvokeSyncJob</name>
        <label>InvokeSyncJob</label>
        <locationX>171</locationX>
        <locationY>250</locationY>
        <actionName>CallSyncJob2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <inputParameters>
            <name>params</name>
            <value>
                <elementReference>table</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>outputtext</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>setSyncParams</name>
        <label>setSyncParams</label>
        <locationX>163</locationX>
        <locationY>93</locationY>
        <assignmentItems>
            <assignToReference>syncJobParams</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>table</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InvokeSyncJob</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>sFLOW</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AH FLOW</stringValue>
        </value>
    </constants>
    <formulas>
        <name>batchSize</name>
        <dataType>String</dataType>
        <expression>&apos;500&apos;</expression>
    </formulas>
    <formulas>
        <name>query</name>
        <dataType>String</dataType>
        <expression>&apos;SELECT Id, staging__External_Id__c , staging__source_name__c FROM &apos; + {!table} + &apos;WHERE staging__Sync_Processed__c = False&apos;</expression>
    </formulas>
    <formulas>
        <name>sFalse</name>
        <dataType>String</dataType>
        <expression>&apos;False&apos;</expression>
    </formulas>
    <interviewLabel>Invoke SyncJob2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoke SyncJob2</label>
    <processType>Flow</processType>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>505</locationX>
        <locationY>380</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>finished</name>
            <fieldText>This should show a Row Id: and null. 

This is the Apex Job Id of the SyncJob2 Batch and the error message.

    {!outputtext}
    {!finishMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>setSyncParams</startElementReference>
    <variables>
        <name>finishMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputtext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>retList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sDebug</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>syncJobParams</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>table</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
