flows/JBSystemFlow_genesis_Applications_c-22.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Missing</name>
        <label>Email Missing</label>
        <locationX>982</locationX>
        <locationY>30</locationY>
        <actionName>Contact.Broker_Email_Missing1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Phone_Missing</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>new_object.Broker__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Mobile_Missing</name>
        <label>Mobile Missing</label>
        <locationX>1460</locationX>
        <locationY>142</locationY>
        <actionName>Contact.Broker_Mobile_Missing1</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>new_object.Broker__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj87f634ea01ca39508a56a73763b901dd_FireJBTrigger</name>
        <label>SalesforceObj87f634ea01ca39508a56a73763b901dd_FireJBTrigger</label>
        <locationX>1074</locationX>
        <locationY>273</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Phone_Missing</targetReference>
        </connector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Broker__c&quot;,
  &quot;relationshipName&quot;: &quot;Broker__r&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>genesis__Applications__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj87f634ea01ca39508a56a73763b901dd</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7276643</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>2.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Broker__c&quot;,&quot;Decline_Reason__c&quot;,&quot;AccountFullName__c&quot;,&quot;genesis__Status__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Broker__r&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:Broker__r:&quot;,&quot;fields&quot;:[&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;MobilePhone&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;et4ae5__HasOptedOutOfMobile__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TestTask</name>
        <label>TestTask</label>
        <locationX>676</locationX>
        <locationY>128</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_Decision</targetReference>
        </connector>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>BrokerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>EmailAddress</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj87f634ea01ca39508a56a73763b901dd</name>
        <label>JB_Decision_Null_Check_SalesforceObj87f634ea01ca39508a56a73763b901dd</label>
        <locationX>97</locationX>
        <locationY>412</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Broker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Broker</targetReference>
            </connector>
            <label>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_Decision</name>
        <label>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_Decision</label>
        <locationX>782</locationX>
        <locationY>264</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj87f634ea01ca39508a56a73763b901dd</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NEW - ENTERED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AWAITING PERSONAL INFORMATION</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PENDED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AWAITING ASSESSMENT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj87f634ea01ca39508a56a73763b901dd_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj87f634ea01ca39508a56a73763b901dd</label>
        </rules>
        <rules>
            <name>Broker_Email_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Missing</targetReference>
            </connector>
            <label>Broker Email Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_State_change_Decision</name>
        <label>JB_SalesforceObj87f634ea01ca39508a56a73763b901dd_State_change_Decision</label>
        <locationX>562</locationX>
        <locationY>590</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj87f634ea01ca39508a56a73763b901dd</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>old_object.genesis__Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Broker</targetReference>
            </connector>
            <label>State_Change_SalesforceObj87f634ea01ca39508a56a73763b901dd</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Missing</name>
        <label>Phone Missing</label>
        <locationX>1217</locationX>
        <locationY>138</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Mobile_absent</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mobile_Missing</targetReference>
            </connector>
            <label>Mobile absent</label>
        </rules>
    </decisions>
    <interviewLabel>JBSystemFlow_genesis_Applications_c {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JBSystemFlow_genesis_Applications_c</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Search_Broker</name>
        <label>Search Broker</label>
        <locationX>512</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TestTask</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>new_object.Broker__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>EmailAddress</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BrokerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MobilePhone</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj87f634ea01ca39508a56a73763b901dd</startElementReference>
    <variables>
        <name>BrokerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>genesis__Applications__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>genesis__Applications__c</objectType>
    </variables>
</Flow>
