flows/JBSystemFlow_Lead-14.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj3a553d1131d6eb4e2f0896d4dd27c21a_FireJBTrigger</name>
        <label>SalesforceObj3a553d1131d6eb4e2f0896d4dd27c21a_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj3a553d1131d6eb4e2f0896d4dd27c21a</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7238206</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>2.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjaaa81753a0a308f1dff9626538441d99_FireJBTrigger</name>
        <label>SalesforceObjaaa81753a0a308f1dff9626538441d99_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3a553d1131d6eb4e2f0896d4dd27c21a</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3a553d1131d6eb4e2f0896d4dd27c21a</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjaaa81753a0a308f1dff9626538441d99</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7238206</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>2.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;CRM_Loan_Purpose__c&quot;,&quot;CRM_Purchase_Price__c&quot;,&quot;CRM_Property_Value__c&quot;,&quot;CRM_Deposit_Amount__c&quot;,&quot;CRM_Maximum_Borrow__c&quot;,&quot;CRM_Final_Loan_Amount__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;Lead:Owner:User:&quot;,&quot;fields&quot;:[&quot;Email&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj3a553d1131d6eb4e2f0896d4dd27c21a</name>
        <label>JB_Decision_Null_Check_SalesforceObj3a553d1131d6eb4e2f0896d4dd27c21a</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj3a553d1131d6eb4e2f0896d4dd27c21a_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj3a553d1131d6eb4e2f0896d4dd27c21a_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj3a553d1131d6eb4e2f0896d4dd27c21a_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjaaa81753a0a308f1dff9626538441d99</name>
        <label>JB_Decision_Null_Check_SalesforceObjaaa81753a0a308f1dff9626538441d99</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3a553d1131d6eb4e2f0896d4dd27c21a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjaaa81753a0a308f1dff9626538441d99_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjaaa81753a0a308f1dff9626538441d99_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjaaa81753a0a308f1dff9626538441d99_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjaaa81753a0a308f1dff9626538441d99_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjaaa81753a0a308f1dff9626538441d99_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjaaa81753a0a308f1dff9626538441d99_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj3a553d1131d6eb4e2f0896d4dd27c21a_Decision</name>
        <label>JB_SalesforceObj3a553d1131d6eb4e2f0896d4dd27c21a_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj3a553d1131d6eb4e2f0896d4dd27c21a</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.CRM_Test_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj3a553d1131d6eb4e2f0896d4dd27c21a_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj3a553d1131d6eb4e2f0896d4dd27c21a</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjaaa81753a0a308f1dff9626538441d99_Decision</name>
        <label>JB_SalesforceObjaaa81753a0a308f1dff9626538441d99_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3a553d1131d6eb4e2f0896d4dd27c21a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjaaa81753a0a308f1dff9626538441d99</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.CRM_Test_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjaaa81753a0a308f1dff9626538441d99_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjaaa81753a0a308f1dff9626538441d99</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjaaa81753a0a308f1dff9626538441d99_State_change_Decision</name>
        <label>JB_SalesforceObjaaa81753a0a308f1dff9626538441d99_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3a553d1131d6eb4e2f0896d4dd27c21a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjaaa81753a0a308f1dff9626538441d99</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.CRM_Test_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjaaa81753a0a308f1dff9626538441d99_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjaaa81753a0a308f1dff9626538441d99</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Lead</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjaaa81753a0a308f1dff9626538441d99</startElementReference>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
