flows/JBSystemFlow_genesis_Applications_c-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj5a21b5dbe0af7f38d7f92d808e8bbaae_FireJBTrigger</name>
        <label>SalesforceObj5a21b5dbe0af7f38d7f92d808e8bbaae_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Broker__c&quot;,&quot;relationshipName&quot;:&quot;Broker__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>genesis__Applications__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj5a21b5dbe0af7f38d7f92d808e8bbaae</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7276643</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>2.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Broker__c&quot;,&quot;AccountFullName__c&quot;,&quot;genesis__Status__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Broker__r&quot;,&quot;dePrefix&quot;:&quot;genesis__Applications__c:Broker__r:&quot;,&quot;fields&quot;:[&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;MobilePhone&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;et4ae5__HasOptedOutOfMobile__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj5a21b5dbe0af7f38d7f92d808e8bbaae</name>
        <label>JB_Decision_Null_Check_SalesforceObj5a21b5dbe0af7f38d7f92d808e8bbaae</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj5a21b5dbe0af7f38d7f92d808e8bbaae_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Broker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj5a21b5dbe0af7f38d7f92d808e8bbaae_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj5a21b5dbe0af7f38d7f92d808e8bbaae_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj5a21b5dbe0af7f38d7f92d808e8bbaae_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj5a21b5dbe0af7f38d7f92d808e8bbaae_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj5a21b5dbe0af7f38d7f92d808e8bbaae_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj5a21b5dbe0af7f38d7f92d808e8bbaae_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj5a21b5dbe0af7f38d7f92d808e8bbaae_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj5a21b5dbe0af7f38d7f92d808e8bbaae_Decision</name>
        <label>JB_SalesforceObj5a21b5dbe0af7f38d7f92d808e8bbaae_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj5a21b5dbe0af7f38d7f92d808e8bbaae</name>
            <conditionLogic>( ( ( (1 OR 2)  OR 3)  OR 4)  OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APPROVED - CONVERTED TO CONTRACT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APPROVED - DOCUMENT SIGNED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DECLINED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REFERRED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONDITIONALLY APPROVED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj5a21b5dbe0af7f38d7f92d808e8bbaae_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj5a21b5dbe0af7f38d7f92d808e8bbaae</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj5a21b5dbe0af7f38d7f92d808e8bbaae_State_change_Decision</name>
        <label>JB_SalesforceObj5a21b5dbe0af7f38d7f92d808e8bbaae_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj5a21b5dbe0af7f38d7f92d808e8bbaae</name>
            <conditionLogic>NOT  ( ( ( (1 OR 2)  OR 3)  OR 4)  OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APPROVED - CONVERTED TO CONTRACT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APPROVED - DOCUMENT SIGNED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DECLINED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REFERRED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.genesis__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONDITIONALLY APPROVED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj5a21b5dbe0af7f38d7f92d808e8bbaae_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj5a21b5dbe0af7f38d7f92d808e8bbaae</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_genesis_Applications_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj5a21b5dbe0af7f38d7f92d808e8bbaae</startElementReference>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>genesis__Applications__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>genesis__Applications__c</objectType>
    </variables>
</Flow>
