flows/Lead_Update_Campaign_Channels-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Campaign_Details_Found</name>
        <label>Campaign Details Found</label>
        <locationX>285</locationX>
        <locationY>196</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_Channels</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Not Null]</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Channel1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Channel2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Channel3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Null</label>
        </rules>
    </decisions>
    <description>Update lead channels 1, 2 and 3 based on value in channel 4 if the lead is a campaign lead.</description>
    <interviewLabel>Lead Update Campaign Channels {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Update Campaign Channels</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Campaign_Channels</name>
        <label>Campaign Channels</label>
        <locationX>116</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Details_Found</targetReference>
        </connector>
        <filters>
            <field>Lead_channel_level_4__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soVarLead.CRM_Lead_Channel_Level_4__c</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>Channel1</assignToReference>
            <field>Lead_channel_level_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Channel2</assignToReference>
            <field>Lead_channel_level_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Channel3</assignToReference>
            <field>Lead_channel_level_3__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lead_Lookup</name>
        <label>Lead Lookup</label>
        <locationX>77</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Channels</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>soVarLead</outputReference>
        <queriedFields>CRM_Lead_Channel_Level_4__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Channels</name>
        <label>Update Lead Channels</label>
        <locationX>401</locationX>
        <locationY>316</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Lead_Channel_Level_2__c</field>
            <value>
                <elementReference>Channel2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Lead_Channel_Level_3__c</field>
            <value>
                <elementReference>Channel3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Lead_Channel__c</field>
            <value>
                <elementReference>Channel1</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>Lead_Lookup</startElementReference>
    <variables>
        <name>Channel1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Channel2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Channel3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>soVarCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>soVarLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>Lead ID</description>
        <name>varLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
