flows/Lead_Conversion_to_Multiple_Opportunities-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AF_Set</name>
        <label>AF Set</label>
        <locationX>722</locationX>
        <locationY>117</locationY>
        <assignmentItems>
            <assignToReference>svarOpportunity.CRM_Loan_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Asset Finance</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AF_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PL_Set_2</name>
        <label>PL Set 2</label>
        <locationX>570</locationX>
        <locationY>462</locationY>
        <assignmentItems>
            <assignToReference>svarOpportunity.CRM_Loan_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Personal Loan</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PL_Opportunity_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AF_Ticked</name>
        <label>AF Ticked?</label>
        <locationX>99</locationX>
        <locationY>320</locationY>
        <defaultConnector>
            <targetReference>PL_Ticked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AF_is_Ticked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovarLead.Interest_Auto_Finance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Opportunity_AF</targetReference>
            </connector>
            <label>AF is Ticked</label>
        </rules>
    </decisions>
    <decisions>
        <name>AF_Ticked_2</name>
        <label>AF Ticked 2</label>
        <locationX>551</locationX>
        <locationY>118</locationY>
        <defaultConnector>
            <targetReference>PL_Ticked_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AF_Is_Ticked_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovarLead.Interest_Auto_Finance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AF_Set</targetReference>
            </connector>
            <label>AF Is Ticked 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mortgage_Ticked</name>
        <label>Mortgage Ticked?</label>
        <locationX>94</locationX>
        <locationY>198</locationY>
        <defaultConnector>
            <targetReference>AF_Ticked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Mortgage_is_Ticked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovarLead.Interest_Mortgage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Opportunity</targetReference>
            </connector>
            <label>Mortgage is Ticked</label>
        </rules>
    </decisions>
    <decisions>
        <name>PL_Ticked</name>
        <label>PL Ticked?</label>
        <locationX>105</locationX>
        <locationY>484</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PL_is_Ticked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovarLead.Interest_Personal_Loans__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Opportunity_PL</targetReference>
            </connector>
            <label>PL is Ticked</label>
        </rules>
    </decisions>
    <decisions>
        <name>PL_Ticked_3</name>
        <label>PL Ticked 3</label>
        <locationX>561</locationX>
        <locationY>291</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PL_is_Ticked_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovarLead.Interest_Personal_Loans__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PL_Set_2</targetReference>
            </connector>
            <label>PL is Ticked 3</label>
        </rules>
    </decisions>
    <interviewLabel>Lead Conversion to Multiple Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Conversion to Multiple Opportunities</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>AF_Opportunity</name>
        <label>AF Opportunity</label>
        <locationX>732</locationX>
        <locationY>234</locationY>
        <connector>
            <targetReference>PL_Ticked_3</targetReference>
        </connector>
        <inputReference>svarOpportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>PL_Opportunity_2</name>
        <label>PL Opportunity 2</label>
        <locationX>756</locationX>
        <locationY>472</locationY>
        <inputReference>svarOpportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lead_Lookup</name>
        <label>Lead Lookup</label>
        <locationX>33</locationX>
        <locationY>10</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>sovarLead.Interest_Auto_Finance__c</assignToReference>
            <field>Interest_Auto_Finance__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sovarLead.Interest_Mortgage__c</assignToReference>
            <field>Interest_Mortgage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sovarLead.Interest_Personal_Loans__c</assignToReference>
            <field>Interest_Personal_Loans__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Opportunity_Lookup</name>
        <label>Opportunity Lookup</label>
        <locationX>210</locationX>
        <locationY>7</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mortgage_Ticked</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>svarOpportunity.AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.Are_you_aware_of_any_credit_adversitie__c</assignToReference>
            <field>Are_you_aware_of_any_credit_adversitie__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Any_judgements_ever_been_banakrupted__c</assignToReference>
            <field>CRM_Any_judgements_ever_been_banakrupted__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Are_you_currently_Employed__c</assignToReference>
            <field>CRM_Are_you_currently_Employed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Available_Income__c</assignToReference>
            <field>CRM_Available_Income__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Borrow_Mortgage__c</assignToReference>
            <field>CRM_Borrow_Mortgage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Borrow_PAF__c</assignToReference>
            <field>CRM_Borrow_PAF__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Borrow_PL__c</assignToReference>
            <field>CRM_Borrow_PL__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Borrower_Count__c</assignToReference>
            <field>CRM_Borrower_Count__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Brand__c</assignToReference>
            <field>CRM_Brand__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Campaign__c</assignToReference>
            <field>CRM_Campaign__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Car_Refinance_Options__c</assignToReference>
            <field>CRM_Car_Refinance_Options__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Claimed_Living_Expenses__c</assignToReference>
            <field>CRM_Claimed_Living_Expenses__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Comments__c</assignToReference>
            <field>CRM_Comments__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Credit_Card_Multiplier__c</assignToReference>
            <field>CRM_Credit_Card_Multiplier__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Credit_History__c</assignToReference>
            <field>CRM_Credit_History__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Credit_Impairment_Age_Borrower_1__c</assignToReference>
            <field>CRM_Credit_Impairment_Age_Borrower_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Credit_Impairment__c</assignToReference>
            <field>CRM_Credit_Impairment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_DOB__c</assignToReference>
            <field>CRM_DOB__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Deposit_Amount__c</assignToReference>
            <field>CRM_Deposit_Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Did_you_have_a_property_in_mind__c</assignToReference>
            <field>CRM_Did_you_have_a_property_in_mind__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Employment_Type_Borrower1__c</assignToReference>
            <field>CRM_Employment_Type_Borrower1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Employment_Type_Borrower2__c</assignToReference>
            <field>CRM_Employment_Type_Borrower2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Est_Rental_Income__c</assignToReference>
            <field>CRM_Est_Rental_Income__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Gross_Income_Borrower1__c</assignToReference>
            <field>CRM_Gross_Income_Borrower1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Gross_Income_Borrower2__c</assignToReference>
            <field>CRM_Gross_Income_Borrower2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Home_Refinance_Options__c</assignToReference>
            <field>CRM_Home_Refinance_Options__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_How_did_you_hear_about_us__c</assignToReference>
            <field>CRM_How_did_you_hear_about_us__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_How_long_have_you_been_employed__c</assignToReference>
            <field>CRM_How_long_have_you_been_employed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_How_much_youlooking_to_contribute__c</assignToReference>
            <field>CRM_How_much_youlooking_to_contribute__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Lead_Channel_Level_1__c</assignToReference>
            <field>CRM_Lead_Channel_Level_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Lead_Channel_Level_3__c</assignToReference>
            <field>CRM_Lead_Channel_Level_3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Lead_Channel_Level_4__c</assignToReference>
            <field>CRM_Lead_Channel_Level_4__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Lead_Channel_Level__c</assignToReference>
            <field>CRM_Lead_Channel_Level__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Lead_Source__c</assignToReference>
            <field>CRM_Lead_Source__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Live_Dead__c</assignToReference>
            <field>CRM_Live_Dead__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Living_Expenses__c</assignToReference>
            <field>CRM_Living_Expenses__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Marketing_Opt_in__c</assignToReference>
            <field>CRM_Marketing_Opt_in__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Maximum_Borrow__c</assignToReference>
            <field>CRM_Maximum_Borrow__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Maximum_Repayment_p_a__c</assignToReference>
            <field>CRM_Maximum_Repayment_p_a__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Mortgage_Arrears__c</assignToReference>
            <field>CRM_Mortgage_Arrears__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Other_Annual_Liabilities__c</assignToReference>
            <field>CRM_Other_Annual_Liabilities__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Preferred_Call_Date__c</assignToReference>
            <field>CRM_Preferred_Call_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Preferred_Call_Time__c</assignToReference>
            <field>CRM_Preferred_Call_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Preferred_Contact_Method__c</assignToReference>
            <field>CRM_Preferred_Contact_Method__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Product_Category__c</assignToReference>
            <field>CRM_Product_Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Property_Type__c</assignToReference>
            <field>CRM_Property_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Purchase_Price__c</assignToReference>
            <field>CRM_Purchase_Price__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Rate__c</assignToReference>
            <field>CRM_Rate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Referral_Reason__c</assignToReference>
            <field>CRM_Referral_Reason__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Referral_Source__c</assignToReference>
            <field>CRM_Referral_Source__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Tax__c</assignToReference>
            <field>CRM_Tax__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Term__c</assignToReference>
            <field>CRM_Term__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Total_Commitments__c</assignToReference>
            <field>CRM_Total_Commitments__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Where_property_is_located_PostCode__c</assignToReference>
            <field>CRM_Where_property_is_located_PostCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CRM_Years_Self_Employed_Borrower1__c</assignToReference>
            <field>CRM_Years_Self_Employed_Borrower1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CampaignId</assignToReference>
            <field>CampaignId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.CloseDate</assignToReference>
            <field>CloseDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.StageName</assignToReference>
            <field>StageName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.Web_Analytics_Campaign__c</assignToReference>
            <field>Web_Analytics_Campaign__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.Web_Analytics_Content__c</assignToReference>
            <field>Web_Analytics_Content__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.Web_Analytics_ID__c</assignToReference>
            <field>Web_Analytics_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.Web_Analytics_Medium__c</assignToReference>
            <field>Web_Analytics_Medium__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.Web_Analytics_Referrer__c</assignToReference>
            <field>Web_Analytics_Referrer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.Web_Analytics_Source__c</assignToReference>
            <field>Web_Analytics_Source__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.Web_Analytics_Term__c</assignToReference>
            <field>Web_Analytics_Term__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>svarOpportunity.loan__CurrentGenerators__c</assignToReference>
            <field>loan__CurrentGenerators__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Opportunity</name>
        <label>Update Existing Opportunity</label>
        <locationX>341</locationX>
        <locationY>189</locationY>
        <connector>
            <targetReference>AF_Ticked_2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Loan_Type__c</field>
            <value>
                <stringValue>Mortgage</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Opportunity_AF</name>
        <label>Update Existing Opportunity AF</label>
        <locationX>328</locationX>
        <locationY>322</locationY>
        <connector>
            <targetReference>PL_Ticked_3</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Loan_Type__c</field>
            <value>
                <stringValue>Asset Finance</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Opportunity_PL</name>
        <label>Update Existing Opportunity PL</label>
        <locationX>331</locationX>
        <locationY>477</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Loan_Type__c</field>
            <value>
                <stringValue>Personal Loan</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Lead_Lookup</startElementReference>
    <variables>
        <name>Interest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RemainingInterests</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>SObject Variable for Lead</description>
        <name>sovarLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>svarOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
