flows/PL_Broker_Accreditation-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Fault</name>
        <label>Email Fault</label>
        <locationX>564</locationX>
        <locationY>371</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Broker Update Failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>sjolly@pepper.com.au</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Set_Contact_Fields</name>
        <label>Set Contact Fields</label>
        <locationX>186</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>soContact.loan__Contact_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Broker</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soContact.Referral_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soContact.CRM_Mtg_Unique_Id_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Broker_Junction_Created</name>
        <label>Broker Junction Created?</label>
        <locationX>938</locationX>
        <locationY>259</locationY>
        <defaultConnector>
            <targetReference>Set_Fail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBrokerJunctionID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Success_and_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Broker_Junction</name>
        <label>Existing Broker Junction?</label>
        <locationX>781</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Create_Broker_Junction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ExistingBrokerJunction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>socBrokerJunction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Broker_Junction</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referral_Code_Set</name>
        <label>Referral Code Set?</label>
        <locationX>481</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Set_Fail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ReferralCode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soContact.Referral_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Broker_Junction</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>PL Broker Accreditation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PL Broker Accreditation</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Broker_Junction</name>
        <label>Create Broker Junction</label>
        <locationX>938</locationX>
        <locationY>155</locationY>
        <assignRecordIdToReference>varBrokerJunctionID</assignRecordIdToReference>
        <connector>
            <targetReference>Broker_Junction_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Fail</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Plan__c</field>
            <value>
                <elementReference>CommissionPlan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Broker_Junction__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Broker_Junction</name>
        <label>Delete Broker Junction</label>
        <locationX>944</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Create_Broker_Junction</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Fail</targetReference>
        </faultConnector>
        <inputReference>socBrokerJunction</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Lookup_Broker_Junction</name>
        <label>Lookup Broker Junction</label>
        <locationX>642</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Broker_Junction</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Fail</targetReference>
        </faultConnector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>Broker_Junction__c</object>
        <outputReference>socBrokerJunction</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contact</name>
        <label>Lookup Contact</label>
        <locationX>34</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Contact_Fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Fail</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>soContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Referral_Code__c</queriedFields>
        <queriedFields>CRM_Mtg_Unique_Id__c</queriedFields>
        <queriedFields>CRM_Mtg_Unique_Id_Formula__c</queriedFields>
        <queriedFields>loan__Contact_Type__c</queriedFields>
        <queriedFields>PL_Accreditation_Date_Time__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Set_Fail</name>
        <label>Set Fail</label>
        <locationX>355</locationX>
        <locationY>373</locationY>
        <connector>
            <targetReference>Email_Fault</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PL_Accreditation_Result__c</field>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Success_and_Date</name>
        <label>Set Success and Date</label>
        <locationX>934</locationX>
        <locationY>366</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PL_Accreditation_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PL_Accreditation_Result__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>336</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Referral_Code_Set</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Fail</targetReference>
        </faultConnector>
        <inputReference>soContact</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_Contact</startElementReference>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CommissionPlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>socBrokerJunction</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Broker_Junction__c</objectType>
    </variables>
    <variables>
        <name>soContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varBrokerJunctionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
