flows/QualityAssuranceFlow-35.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AddCaseQuestionToList</name>
        <label>AddCaseQuestionToList</label>
        <locationX>759</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Question</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForEachQuestionInTemplate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignQuestionToCase</name>
        <label>AssignQuestionToCase</label>
        <locationX>757</locationX>
        <locationY>100</locationY>
        <assignmentItems>
            <assignToReference>Question.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qTemp.Question__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question.Auto_Fail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qTemp.Auto_Fail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qTemp.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question.Display_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qTemp.Display_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question.Sub_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qTemp.Sub_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question.Weighting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qTemp.Weighting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question.Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultAnswer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCaseQuestionToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAnswer</name>
        <label>SetAnswer</label>
        <locationX>1016</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>loopQuestion.Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopQuestion.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Question</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetExistingAnswer</name>
        <label>SetExistingAnswer</label>
        <locationX>763</locationX>
        <locationY>397</locationY>
        <assignmentItems>
            <assignToReference>ExistingAnswer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopQuestion.Answer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AskQuestion</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ExistingAnswerChoice</name>
        <choiceText>{!ExistingAnswer}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ExistingAnswer</elementReference>
        </value>
    </choices>
    <constants>
        <name>DefaultAnswer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>--None--</stringValue>
        </value>
    </constants>
    <constants>
        <name>TestCaseId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>5005D000000mUZEQA2</stringValue>
        </value>
    </constants>
    <decisions>
        <name>DoCaseQuestionsExist</name>
        <label>DoCaseQuestionsExist?</label>
        <locationX>275</locationX>
        <locationY>488</locationY>
        <defaultConnector>
            <targetReference>ForEachCaseQuestion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Questions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTemplateQuestions</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsTemplateSelected</name>
        <label>IsTemplateSelected</label>
        <locationX>20</locationX>
        <locationY>202</locationY>
        <defaultConnector>
            <targetReference>GetCaseQuestions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoTemplateSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QATemplateType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PleaseSelectTheQATemplate</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Answers</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Answer__c</picklistField>
        <picklistObject>QA_Question__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>QA - {!QATemplateType}</interviewLabel>
    <label>Quality Assurance</label>
    <loops>
        <name>ForEachCaseQuestion</name>
        <label>ForEachCaseQuestion</label>
        <locationX>511</locationX>
        <locationY>481</locationY>
        <assignNextValueToReference>loopQuestion</assignNextValueToReference>
        <collectionReference>Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetExistingAnswer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Finished</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ForEachQuestionInTemplate</name>
        <label>ForEachQuestionInTemplate</label>
        <locationX>511</locationX>
        <locationY>198</locationY>
        <assignNextValueToReference>qTemp</assignNextValueToReference>
        <collectionReference>QATemplateQuestions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignQuestionToCase</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>InsertCaseQuestions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>InsertCaseQuestions</name>
        <label>InsertCaseQuestions</label>
        <locationX>512</locationX>
        <locationY>340</locationY>
        <connector>
            <targetReference>ForEachCaseQuestion</targetReference>
        </connector>
        <inputReference>Questions</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetCase</name>
        <label>GetCase</label>
        <locationX>21</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsTemplateSelected</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>QATemplateType</assignToReference>
            <field>QA_Template__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCaseQuestions</name>
        <label>GetCaseQuestions</label>
        <locationX>141</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoCaseQuestionsExist</targetReference>
        </connector>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>QA_Question__c</object>
        <outputReference>Questions</outputReference>
        <queriedFields>Answer__c</queriedFields>
        <queriedFields>Case__c</queriedFields>
        <queriedFields>Comment__c</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>Auto_Fail__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Sub_Category__c</queriedFields>
        <queriedFields>Weighting__c</queriedFields>
        <queriedFields>Display_Order__c</queriedFields>
        <sortField>Display_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetTemplateQuestions</name>
        <label>GetTemplateQuestions</label>
        <locationX>276</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ForEachQuestionInTemplate</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QATemplateType</elementReference>
            </value>
        </filters>
        <object>QA_Template_Questions__c</object>
        <outputReference>QATemplateQuestions</outputReference>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>Auto_Fail__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Display_Order__c</queriedFields>
        <queriedFields>Sub_Category__c</queriedFields>
        <queriedFields>Weighting__c</queriedFields>
        <sortField>Display_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Question</name>
        <label>Update Question</label>
        <locationX>750</locationX>
        <locationY>653</locationY>
        <connector>
            <targetReference>ForEachCaseQuestion</targetReference>
        </connector>
        <inputReference>loopQuestion</inputReference>
    </recordUpdates>
    <screens>
        <name>AskQuestion</name>
        <label>AskQuestion</label>
        <locationX>1011</locationX>
        <locationY>397</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetAnswer</targetReference>
        </connector>
        <fields>
            <name>DisplayQuestion</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Category: {!loopQuestion.Category__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Sub Category: {!loopQuestion.Sub_Category__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000066&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!loopQuestion.Question__c}&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Answer</name>
            <choiceReferences>Answers</choiceReferences>
            <choiceReferences>ExistingAnswerChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ExistingAnswerChoice</defaultSelectedChoiceReference>
            <fieldText>Answer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Select an answer&lt;/FONT&gt;&lt;/DIV&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comment</name>
            <defaultValue>
                <elementReference>loopQuestion.Comment__c</elementReference>
            </defaultValue>
            <fieldText>Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If necessary, explain the answer&lt;/FONT&gt;&lt;/DIV&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Finished</name>
        <label>Finished</label>
        <locationX>510</locationX>
        <locationY>670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>aFinished</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;QA Assessment Complete&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>PleaseSelectTheQATemplate</name>
        <label>Please Select The QA Template</label>
        <locationX>19</locationX>
        <locationY>523</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SelectTheTemplateText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please select the QA Template on the Case before starting the Assessment&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>GetCase</startElementReference>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExistingAnswer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopQuestion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QA_Question__c</objectType>
    </variables>
    <variables>
        <name>QATemplateQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QA_Template_Questions__c</objectType>
    </variables>
    <variables>
        <name>QATemplateType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>qTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QA_Template_Questions__c</objectType>
    </variables>
    <variables>
        <name>Question</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QA_Question__c</objectType>
    </variables>
    <variables>
        <name>Questions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QA_Question__c</objectType>
    </variables>
    <variables>
        <name>QuestionsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QA_Question__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>TestCaseId</elementReference>
        </value>
    </variables>
    <variables>
        <name>ThisQuestionText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
