flows/ScCollection_Update_Start_Date_and_End_Date-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Check if dates are changed</label>
        </rules>
    </decisions>
    <description>This Process updates the start date and end date on collection status</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
	NOT(ISNULL([ScCollection_Recovery__c].ScCollection_Release_of_Asset__c))
,
	[ScCollection_Recovery__c].ScCollection_Release_of_Asset__c
,
	[ScCollection_Recovery__c].Date_of_Redemption__c
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_8673082275</name>
        <dataType>Date</dataType>
        <expression>IF(
	NOT(ISNULL({!myVariable_current.ScCollection_Release_of_Asset__c}))
,
	{!myVariable_current.ScCollection_Release_of_Asset__c}
,
	{!myVariable_current.Date_of_Redemption__c}
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
	AND(
		ISNEW(),
		OR(
			NOT(ISNULL([ScCollection_Recovery__c].ScCollection_Repossession_Date__c )),
			NOT(ISNULL([ScCollection_Recovery__c].ScCollection_Release_of_Asset__c )),
			NOT(ISNULL([ScCollection_Recovery__c].Date_of_Redemption__c )),
			NOT(ISNULL([ScCollection_Recovery__c].ScCollection_Date_Appointed__c )),
			NOT(ISNULL([ScCollection_Recovery__c].ScCollection_Agent_Close_Date__c )),
			NOT(ISNULL([ScCollection_Recovery__c].ScCollection_Sold_Date__c ))
		)
		,
		NOT(ISNULL([ScCollection_Recovery__c].ScCollection_Contract__c)),
		NOT(ISNULL([ScCollection_Recovery__c].ScCollection_Contract__c.collect__Collection_Status__c )),
		[ScCollection_Recovery__c].ScCollection_Contract__c.ScCollection_Source_System_Name__c = &quot;PAF&quot; 
	)
	,
	AND(
		NOT(ISNEW()),
		OR(
			ISCHANGED([ScCollection_Recovery__c].ScCollection_Repossession_Date__c ),
			ISCHANGED([ScCollection_Recovery__c].ScCollection_Release_of_Asset__c ),
			ISCHANGED([ScCollection_Recovery__c].Date_of_Redemption__c ),
			ISCHANGED([ScCollection_Recovery__c].ScCollection_Date_Appointed__c ),
			ISCHANGED([ScCollection_Recovery__c].ScCollection_Agent_Close_Date__c ),
			ISCHANGED([ScCollection_Recovery__c].ScCollection_Sold_Date__c )
		)
		,
		NOT(ISNULL([ScCollection_Recovery__c].ScCollection_Contract__c)),
		NOT(ISNULL([ScCollection_Recovery__c].ScCollection_Contract__c.collect__Collection_Status__c )),
		[ScCollection_Recovery__c].ScCollection_Contract__c.ScCollection_Source_System_Name__c = &quot;PAF&quot; 
	)
)	</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(
	AND(
		ISNEW(),
		OR(
			NOT(ISNULL({!myVariable_current.ScCollection_Repossession_Date__c} )),
			NOT(ISNULL({!myVariable_current.ScCollection_Release_of_Asset__c} )),
			NOT(ISNULL({!myVariable_current.Date_of_Redemption__c} )),
			NOT(ISNULL({!myVariable_current.ScCollection_Date_Appointed__c} )),
			NOT(ISNULL({!myVariable_current.ScCollection_Agent_Close_Date__c} )),
			NOT(ISNULL({!myVariable_current.ScCollection_Sold_Date__c} ))
		)
		,
		NOT(ISNULL({!myVariable_current.ScCollection_Contract__c})),
		NOT(ISNULL({!myVariable_current.ScCollection_Contract__c.collect__Collection_Status__c} )),
		{!myVariable_current.ScCollection_Contract__c.ScCollection_Source_System_Name__c} = &quot;PAF&quot; 
	)
	,
	AND(
		NOT(ISNEW()),
		OR(
			ISCHANGED({!myVariable_current.ScCollection_Repossession_Date__c} ),
			ISCHANGED({!myVariable_current.ScCollection_Release_of_Asset__c} ),
			ISCHANGED({!myVariable_current.Date_of_Redemption__c} ),
			ISCHANGED({!myVariable_current.ScCollection_Date_Appointed__c} ),
			ISCHANGED({!myVariable_current.ScCollection_Agent_Close_Date__c} ),
			ISCHANGED({!myVariable_current.ScCollection_Sold_Date__c} )
		)
		,
		NOT(ISNULL({!myVariable_current.ScCollection_Contract__c})),
		NOT(ISNULL({!myVariable_current.ScCollection_Contract__c.collect__Collection_Status__c} )),
		{!myVariable_current.ScCollection_Contract__c.ScCollection_Source_System_Name__c} = &quot;PAF&quot; 
	)
)</expression>
    </formulas>
    <interviewLabel>ScCollection_Update_Start_Date_and_End_Date-1_InterviewLabel</interviewLabel>
    <label>Update Start Date and End Date</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>ScCollection_Recovery__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ScCollection_Recovery__c].Contract.Collection Status</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Dates on Collection Status</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ScCollection_Contract__r.collect__Collection_Status__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Days To Sell End Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ScCollection_Days_To_Sell_End_Date__c</field>
            <value>
                <elementReference>myVariable_current.ScCollection_Sold_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Days To Sell Start Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ScCollection_Days_To_Sell_Start_Date__c</field>
            <value>
                <elementReference>myVariable_current.ScCollection_Release_of_Asset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Out With Agent End Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ScCollection_Out_With_Agent_End_Date__c</field>
            <value>
                <elementReference>myVariable_current.ScCollection_Agent_Close_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Out With Agent Start Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ScCollection_Out_With_Agent_Start_Date__c</field>
            <value>
                <elementReference>myVariable_current.ScCollection_Date_Appointed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Repossessed End Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ScCollection_Repossessed_End_Date__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_8673082275</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Repossessed Start Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ScCollection_Repossessed_Start_Date__c</field>
            <value>
                <elementReference>myVariable_current.ScCollection_Repossession_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>collect__Contract_Status__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ScCollection_Recovery__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ScCollection_Recovery__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
