flows/ScCollection_Update_Refence_Information_with_Contact_Id-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>ScCollection_ref_Check_If_Contact_Id_is_not_null</name>
        <label>Check If Contact Id is not null</label>
        <locationX>361</locationX>
        <locationY>214</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Contact_Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScCollection_ref_Update_Employment_Information_with_Contact</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <interviewLabel>ScCollection_Update Refence Information with Contact Id  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Refence Information with Contact Id</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ScCollection_Ref_Get_Contact_with_matching_external_Id</name>
        <label>Get Contact with matching external Id</label>
        <locationX>336</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScCollection_ref_Check_If_Contact_Id_is_not_null</targetReference>
        </connector>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Borrower_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>collect__External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_External_Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>var_Contact_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>ScCollection_ref_Update_Employment_Information_with_Contact</name>
        <label>Update Employment Information with Contact</label>
        <locationX>365</locationX>
        <locationY>346</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Referenc_Info_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ScCollection_Contact__c</field>
            <value>
                <elementReference>var_Contact_Id</elementReference>
            </value>
        </inputAssignments>
        <object>ScCollection_Reference_Infomation__c</object>
    </recordUpdates>
    <startElementReference>ScCollection_Ref_Get_Contact_with_matching_external_Id</startElementReference>
    <variables>
        <name>var_Borrower_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_External_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Referenc_Info_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
