flows/Update_Employment_Information_with_Case-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>ScCollection_Check_If_Contact_Id_is_not_null</name>
        <label>Check If Contact Id is not null</label>
        <locationX>234</locationX>
        <locationY>226</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Contact_Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sccollection_Update_Employment_Information_with_Contact</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <interviewLabel>ScCollection_Update Employment Information with Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Employment Information with Contact</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ScCollection_Get_Contact_with_matching_external_Id</name>
        <label>Get Contact with matching external Id</label>
        <locationX>219</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScCollection_Check_If_Contact_Id_is_not_null</targetReference>
        </connector>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Borrower_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>collect__External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Borrower_Unique_Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>var_Contact_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Sccollection_Update_Employment_Information_with_Contact</name>
        <label>Update Employment Information with Contact</label>
        <locationX>235</locationX>
        <locationY>356</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Employment_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ScCollection_Contact__c</field>
            <value>
                <elementReference>var_Contact_Id</elementReference>
            </value>
        </inputAssignments>
        <object>ScCollection_Employment_Information__c</object>
    </recordUpdates>
    <startElementReference>ScCollection_Get_Contact_with_matching_external_Id</startElementReference>
    <variables>
        <name>var_Borrower_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Borrower_Unique_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Employment_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
